@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth;
}

/* Fonts */
.urbanist{
    font-family: "Urbanist", sans-serif;
}

.open-sans{
    font-family: "Open Sans", sans-serif;
}
/* --- */

/* Scroll bar */

/* ====== LIGHT MODE ====== */
:root {
    --scroll-track: #e5e7eb;
    --scroll-thumb: #9ca3af;
    --scroll-thumb-hover: #6b7280;
}

/* ====== DARK MODE ====== */
.dark {
    --scroll-track: #0f172a;
    --scroll-thumb: #b7bbc2;
    --scroll-thumb-hover: #a5a7aa;
}

/* ====== SCROLLBAR ====== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 999px;
    border: 2px solid transparent; /* efecto más limpio */
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}

/* --- */

/* Animaciones del experience */

.timeline-item {
    opacity: 0;
    transform: translateY(-40px) scale(0.98);
    filter: blur(4px);

    transition:
        opacity 0.8s ease,
        transform 0.8s ease,
        filter 0.8s ease;
}

.timeline-item.show {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
}

/* --- */

/* Animaciones de los proyectos */

.proyect-card {
    opacity: 0;

    transform:
        translateY(50px)
        scale(0.98);

    filter: blur(6px);

    transition:
        opacity 0.4s ease,
        transform 0.4s ease,
        filter 0.4s ease;

    will-change:
        opacity,
        transform,
        filter;
}

.proyect-card.show {
    opacity: 1;

    transform:
        translateY(0)
        scale(1);

    filter: blur(0);
}

/* --- */


