@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth;
}


/* Fonts */
.urbanist{
    font-family: "Urbanist", sans-serif;
}

.open-sans{
    font-family: "Open Sans", sans-serif;
}
/* --- */